<html>
    <body>
        <div id="divForm43">
            <style>
                .form43SmallCol{
                    vertical-align: top;
                    text-align: left;
                    width: 30px;
                }
                .form43Bold{
                    font-weight: bold;
                }
                #tableForm43Coords th, #tableForm43Coords td{
                    border: #000 solid 1px;
                    padding: 3px;
                }
                #tableForm43Coords {
                    border-collapse: collapse;
                    margin-top: 10px;
                }
            </style>

            <table style="width: 100%">
                <tr>
                    <td style="text-align: left;vertical-align: middle;width: 33%;">
                        <strong>Région de : <span id="lblForm43Region"></span></strong>
                        <br />
                        <strong>Province de : <span id="lblForm43Province"></span></strong>
                        <br />
                        <strong>Commune de : <span id="lblForm43Commune"></span></strong>
                    </td>
                    <td style="text-align: center;vertical-align: middle;width: 34%;">
                        <div class="commune_logo"></div>
                    </td>
                    <td style="text-align: center;vertical-align: middle;width: 33%;">
                        <strong>Burkina Faso</strong>
                        <br />
                        <strong>********</strong>
                        <br />
                        Unité-Progrès-Justice
                    </td>
                </tr>
            </table>    

            <div style="text-align: center;">
                <h2>
                    Arrêté N° <span id="lblForm43Regnum" class="form43Bold"></span> Portant autorisation de mise en valeur temporaire de terre rurale
                </h2>
                (Article 3 du DECRET N°2010-406/PRES/PM/MAHRH/MRA/MECV/MEF/MATD du 29 juillet 2010  portant modalités de délivrance de l’autorisation de mise en valeur temporaire des terres rurales et conditions de restitution de la terre au possesseur ou propriétaire foncier rural).
                <h3>Le Maire, Président du Conseil Municipal</h3>
            </div>

            <table style="width: 100%">
                <tr>
                    <td class="form43SmallCol">Vu</td>
                    <td>
                        la Constitution,
                    </td>
                </tr>
                <tr>
                    <td class="form43SmallCol">Vu</td>
                    <td>
                        le décret N°2012-1038/PRES du 31 décembre 2012 portant nomination du Premier ministre ;
                    </td>
                </tr>
                <tr>
                    <td class="form43SmallCol">Vu</td>
                    <td>
                        le décret N°2013-002/PRES/PM du 02 janvier 2013 portant composition du gouvernement du Burkina Faso,
                    </td>
                </tr>
                <tr>
                    <td class="form43SmallCol">Vu</td>
                    <td>
                        le décret N°2013- 104 /PRES /PM/SGG-CM du 07 mars 2013 portant attributions des membres du gouvernement ;
                    </td>
                </tr>
                <tr>
                    <td class="form43SmallCol">Vu</td>
                    <td>
                        la loi N° 010/98/AN du 21 Avril 1998 portant modalités d’intervention de l’Etat et les autres acteurs de développement ;
                    </td>
                </tr>
                <tr>
                    <td class="form43SmallCol">Vu</td>
                    <td>
                        la loi N° 034-2002/AN du 14 novembre 2002 portant loi d’orientation relative au pastoralisme au Burkina Faso ;
                    </td>
                </tr>
                <tr>
                    <td class="form43SmallCol">Vu</td>
                    <td>
                        la loi n°006-2013/AN du 02 avril 2013 portant code de l’environnement au Burkina Faso ;
                    </td>
                </tr>
                <tr>
                    <td class="form43SmallCol">Vu</td>
                    <td>
                        la loi n° 003/2011 /AN du 5 avril 2011 portant code forestier au Burkina Faso ;
                    </td>
                </tr>
                <tr>
                    <td class="form43SmallCol">Vu</td>
                    <td>
                        la loi n° 002-2001/AN du 08 février 2001 portant loi d’orientation relative à la gestion de l’eau ;
                    </td>
                </tr>
                <tr>
                    <td class="form43SmallCol">Vu</td>
                    <td>
                        la loi N°055-2004 /AN du  21 décembre 2004 portant Code Général des Collectivités Territoriales ensemble ses modificatifs ;
                    </td>
                </tr>
                <tr>
                    <td class="form43SmallCol">Vu</td>
                    <td>
                        la Loi N°034-2009/AN du 16 juin 2009 portant régime foncier rural ;
                    </td>
                </tr>
                <tr>
                    <td class="form43SmallCol">Vu</td>
                    <td>
                        la loi N° 034-2012/AN du 02 juillet 2012 portant réorganisation agraire et foncière au Burkina Faso ;
                    </td>
                </tr>
                <tr>
                    <td class="form43SmallCol">Vu</td>
                    <td>
                        le décret N° 2006-204/PRES/PM/MFB du 15 mai 2006 portant régime financier et comptable des collectivités territoriales ;
                    </td>
                </tr>
                <tr>
                    <td class="form43SmallCol">Vu</td>
                    <td>
                        le décret N° 2010 – 406 /PRES/PM/MAHRH/MRA/MECV/MEF/MATD du 29 juillet 2010 portant modalités de délivrance de l’autorisation de mise en valeur temporaire des terres et conditions de restitution de la terre au possesseur ou propriétaire foncier rural ;
                    </td>
                </tr>
                <tr>
                    <td class="form43SmallCol">Vu</td>
                    <td>
                        le décret N° 2012-862/PRES/PM/MEF/du 12 novembre 2012 portant autorisation de perception de recettes relatives aux prestations des services fonciers communaux ;
                    </td>
                </tr>
                <tr>
                    <td class="form43SmallCol">Vu</td>
                    <td>
                        le décret 2012-1041 /PRES/PM/MEF/MATDS /MAH/MRA/MEDD du 31 décembre 2010 portant constatation de la non mise en valeur des terres rurales à des fins d’exploitation à but lucratif et fixation des taux  et modalités de perception de la taxe de non mis en valeur desdites terres ;
                    </td>
                </tr>
                <tr>
                    <td class="form43SmallCol">Vu</td>
                    <td>
                        le décret 2012-1042 /PRES/PM/MEF/MATDS du 31 décembre 2012 portant  fixation de la taxe pour la délivrance de l’APFR ;
                    </td>
                </tr>
                <tr>
                    <td class="form43SmallCol">Vu</td>
                    <td>
                        le décret N°2013-749/PRESS/PM/MATD/du 13 septembre 2013 portant organisation du Ministère de l’Aménagement du Territoire et de la Décentralisation ;
                    </td>
                </tr>
                <tr>
                    <td class="form43SmallCol">Vu</td>
                    <td>
                        le procès-verbal en date du <span id="lblForm43ElectionDate" class="form43Bold"></span> portant élection du Maire  et des adjoints au Maire ;
                    </td>
                </tr>
                <tr>
                    <td class="form43SmallCol">Vu</td>
                    <td>
                        la demande N° <span id="lblForm43AppNum" class="form43Bold"></span> en date du <span id="lblForm43AppDate" class="form43Bold"></span> de :
                        <br />
                        Nom et prénom(s)/ ou dénomination sociale <span id="lblForm43Applicant" class="form43Bold"></span>
                    </td>
                </tr>
            </table>

            <div style="text-align: center;">
                <h3>
                    ARRÊTE
                </h3>
            </div>

            <b>Article 1</b> : Une autorisation de mise en valeur temporaire aux fins d’exploitation <span id="lblForm43Usage" class="form43Bold"></span> est accordée à : 
            <br />
            Nom et prénom(s)/dénomination sociale: <span id="lblForm43Applicant2" class="form43Bold"></span>
            Sur la parcelle faisant l’objet  de l’APFR : N° <span id="lblForm43ApfrNum" class="form43Bold"></span> du <span id="lblForm43ApfrDate" class="form43Bold"></span>,
            Superficie: <span id="lblForm43Ha" class="form43Bold"></span> ha 
            Localisation géographique : Village de <span id="lblForm43Vaillage" class="form43Bold"></span> 
            Section <span id="lblForm43Section" class="form43Bold"></span> 
            Ilot <span id="lblForm43Lot" class="form43Bold"></span>
            Parcelle <span id="lblForm43ParcelNum" class="form43Bold"></span>, 
            <br />
            Les coordonnées géographiques du terrain objet de l’autorisation de mise en valeur temporaire :

            <table style="width: 100%" id="tableForm43Coords">
                <thead>
                    <tr>
                        <th style="width: 50px;">N°</th>
                        <th>Coordonnées X</th>
                        <th>Coordonnées Y</th>
                        <th>Observations</th>
                    </tr>
                </thead>
                <tbody id="rowsForm43Coords">

                </tbody>
            </table>
            <p>
                <b>Article 2</b> : L’autorisation  de mise en valeur temporaire est accordée pour la période allant du 
                <span id="lblForm43StartDate" class="form43Bold"></span> au 
                <span id="lblForm43EndDate" class="form43Bold"></span>. Elle est non renouvelable. 
            </p>
            <p>
                <b>Article  3</b> : Le/la bénéficiaire de l’autorisation est tenu (e) de mettre la parcelle en valeur conformément aux conditions et modalités fixées par le cahier des charges annexé à cette autorisation.
            </p>
            <p>
                <b>Article  4</b> : Le présent arrêté sera enregistré, publié et communiqué partout où besoin sera.
            </p>

            <div style="text-align: center;">
                Fait à <span id="lblForm43Commune2" class="form43Bold"></span> Le <span id="lblForm43CurrentDate" class="form43Bold"></span> 
            </div>

            <div style="text-align: right;font-style: italic;font-weight: bold;padding-top: 50px;padding-bottom: 30px;">
                (Nom prénoms et cachet du maire)
            </div>


            <u>Ampliations :</u>
            <ul style="list-style-type: square;font-style: italic;">
                <li>
                    Ministère de l’Aménagement du Territoire et de la Décentralisation ;
                </li>
                <li>
                    Haut-Commissariat ; 
                </li>
                <li>
                    Service Foncier Rural/ Bureau domanial ;
                </li>
                <li>
                    Conseil Villageois de Développement concerné ;
                </li>
                <li>
                    Commission Foncière Villageoise concernée ; 
                </li>
                <li>
                    Services techniques concernés.
                </li>
            </ul>

            <div>
                <button class="print_form" class="btn v-top-20" style="float: right" onclick="printForm();">Print</button>
            </div>

            <script id="rowForm43Coords" type="text/x-jquery-tmpl">
            <tr>                                                                        
            <td>
            ${index}
            </td>
            <td>
            ${x}
            </td>
            <td>
            ${y}
            </td>
            <td>
            </td>
            </tr>
            </script>
        </div>
    </body>
</html>