<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>MAST</title>
    </head>
    <body>
        <div class="PrintWrapperLandScape">
            <h2 style="margin-top: 20px; margin-bottom: 20px;font-weight: bold;" data-i18n="reg-land-rec-table3">
            </h2>
            <h3 style="margin-top: 20px; margin-bottom: 20px;font-weight: bold;" data-i18n="reg-print-area-map">
            </h3>
            <div style="min-height: 285px;">
                <div id="areamap_url2" class="CCROMap-tablemap">
                    <img src="resources/images/compass.png" class="map-compass" />
                </div>
            </div>
            <div class="personalDetails-wrap">

                <h3 style="margin-top: 20px; margin-bottom: 20px;font-weight: bold;" data-i18n="reg-land-rec-table2">
                </h3>
                <div class="border-wrap " style="padding: 10px;">
                    <table class="amendbeforeAfterTable">
                        <tr>
                            <td data-i18n="reg-region"></td>
                            <td><span id="region_2"></span></td>
                        </tr>
                        <tr>
                            <td data-i18n="reg-province"></td>
                            <td><span id="province_2"></span></td>
                        </tr>
                        <tr>
                            <td data-i18n="reg-village"></td>
                            <td><span class="village_2"></span></td>
                        </tr>
                        <tr>
                            <td data-i18n="reg-firstname"></td>
                            <td><span id="person_firstname2"></span></td>
                        </tr>
                        <tr>
                            <td data-i18n="reg-lastname"></td>
                            <td><span id="person_lastname2"></span></td>
                        </tr>
                        <tr>
                            <td data-i18n="reg-dob"></td>
                            <td><span id="birthdate_2"></span></td>
                        </tr>
                        <tr>
                            <td data-i18n="reg-birth-place"></td>
                            <td><span id="birthplace_2"></span></td>
                        </tr>
                        <tr>
                            <td data-i18n="reg-id-number"></td>
                            <td><span id="refrenceId_2"></span></td>
                        </tr>
                        <tr>
                            <td data-i18n="reg-id-date"></td>
                            <td><span id="idcard_date2"></span></td>
                        </tr>

                        <tr>
                            <td data-i18n="reg-family-name"></td>
                            <td><span id="familyname_2"></span></td>
                        </tr>
                        <tr>
                            <td data-i18n="reg-mandate-date"></td>
                            <td><span class="mandate_date2"></span></td>
                        </tr>
                        <tr>
                            <td data-i18n="reg-mandate-location"></td>
                            <td><span class="mandate_commune"></span></td>
                        </tr>
                        <tr>
                            <td data-i18n="reg-cfv-agent"></td>
                            <td><span id="user_CFV2"></span></td>
                        </tr>


                    </table>
                </div>

                <table class="amendbeforeAfterTable" style="margin-top: 20px;">
                    <tr>
                        <th>N°</th>
                        <th>Nom et Prénom(s)</th>
                        <th>Références de la pièce d’identité</th>
                        <th>Adresse</th>
                        <th>Signature ou empreinte digitale</th>
                    </tr>
                    <tbody id="poiTableRowData">
                    </tbody>

                </table>

            </div>

        </div>

        <div>
            <button class="print_form" class="btn v-top-20" style="float: right"
                    onclick="printForm();" data-i18n="gen-print"></button>

        </div>

        <script id="poi_template" type="text/x-jquery-tmpl">
            <tr>                                                                        
            <td>
            ${sno}
            </td>

            <td>
            ${name}
            </td>
            <td>
            ${refrenceId}
            </td>
            <td>
            ${address}
            </td>
            <td>
            </td>
            </tr>
        </script>

    </body>
</html>