<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>MAST</title>
    </head>
    <body>
        <div class="PrintWrapperLandScape">
            <h2 style="margin-top: 20px; margin-bottom: 20px;font-weight: bold;" data-i18n="reg-land-rec-table">
            </h2>
            <h3 style="margin-top: 20px; margin-bottom: 20px;font-weight: bold;" data-i18n="reg-plan">
            </h3>
            <div style="min-height: 285px;">
                <div id="areamap_url" class="CCROMap-tablemap">
                    <img src="resources/images/compass.png" class="map-compass" />
                </div>
            </div>
            <div class="personalDetails-wrap">

                <h3 style="margin-top: 20px; margin-bottom: 20px;font-weight: bold;" data-i18n="reg-land-rec-table2">
                </h3>

                <div class="border-wrap " style="padding: 10px">
                    <table class="amendbeforeAfterTable">
                        <tr>
                            <td data-i18n="reg-region"></td>
                            <td><span id="region_1"></span></td>
                        </tr>
                        <tr>
                            <td data-i18n="reg-province"></td>
                            <td><span id="province_1"></span></td>
                        </tr>
                        <tr>
                            <td data-i18n="reg-commune"></td>
                            <td><span class="commune_1"></span></td>
                        </tr>
                        <tr>
                            <td data-i18n="reg-village"></td>
                            <td><span class="village_1"></span></td>
                        </tr>
                        <tr>
                            <td data-i18n="reg-village-num"></td>
                            <td><span id="villageno_1"></span></td>
                        </tr>
                        <tr>
                            <td data-i18n="reg-app-number"></td>
                            <td><span class="application_no1"></span></td>
                        </tr>
                        <tr>
                            <td data-i18n="reg-app-nature"></td>
                            <td><span class="noa_1"></span></td>
                        </tr>
                        <tr>
                            <td data-i18n="reg-firstname"></td>
                            <td><span class="person_firstname1"></span></td>
                        </tr>
                        <tr>
                            <td data-i18n="reg-lastname"></td>
                            <td><span class="person_lastname1"></span></td>
                        </tr>
                        <tr>
                            <td data-i18n="reg-dob"></td>
                            <td><span id="birthdate1"></span></td>
                        </tr>
                        <tr>
                            <td data-i18n="reg-birth-place"></td>
                            <td><span id="birthplace1"></span></td>
                        </tr>
                        <tr>
                            <td data-i18n="reg-profession"></td>
                            <td><span id="profession_1"></span></td>
                        </tr>
                        <tr>
                            <td data-i18n="reg-address"></td>
                            <td><span class="person_address1"></span></td>
                        </tr>
                        <tr>
                            <td data-i18n="reg-id-number"></td>
                            <td><span id="refrenceId_1"></span></td>
                        </tr>
                        <tr>
                            <td data-i18n="reg-father-name"></td>
                            <td><span id="father_name1"></span></td>
                        </tr>
                        <tr>
                            <td data-i18n="reg-mother-name"></td>
                            <td><span id="mother_name1"></span></td>
                        </tr>
                        <tr>
                            <td data-i18n="reg-marital-status"></td>
                            <td><span id="marital_status1">></span></td>
                        </tr>
                        <tr>
                            <td data-i18n="reg-nature-of-power"></td>

                            <td><span id="nop1"></span></td>
                        </tr>
                        <tr>
                            <td data-i18n="reg-app-issue-date"></td>
                            <td><span class="application_date1"></span></td>
                        </tr>
                        <tr>
                            <td data-i18n="reg-location"></td>
                            <td><span class="parcel_location1"></span></td>
                        </tr>

                        <tr>
                            <td data-i18n="reg-area-ha"></td>
                            <td><span class="area_1">></span></td>
                        </tr>

                        <tr>
                            <td data-i18n="reg-neighbor-north"></td>
                            <td><span class="neighbour_north1">></span></td>
                        </tr>

                        <tr>
                            <td data-i18n="reg-neighbor-south"></td>
                            <td><span class="neighbour_south1"></span></td>
                        </tr>

                        <tr>
                            <td data-i18n="reg-neighbor-east"></td>
                            <td><span class="neighbour_east1">></span></td>
                        </tr>

                        <tr>
                            <td data-i18n="reg-neighbor-west"></td>
                            <td><span class="neighbour_west1"></span></td>
                        </tr>

                        <tr>
                            <td data-i18n="reg-cfv-agent"></td>
                            <td><span id="user_CFV">></span></td>
                        </tr>

                    </table>

                </div>

            </div>

        </div>

        <div>
            <button class="print_form" class="btn v-top-20" style="float: right" onclick="printForm();" data-i18n="gen-print"></button>

        </div>

    </body>
</html>