<div id="measurediv" class="dialog-v">
    <div id="measureTmpl" class="lab-int">
        <div id="span-close" class="span-c" data-i18n="[title]gen-close" onclick="javascript:closeDialog('measurediv');"></div>
        <div id="measure-help" class="span-h" data-i18n="[title]gen-help" onclick="javascript:openHelpWindow('measure_help');"></div>	
        <div class="lineBreak05p"></div>

        <div class="styleForm formPattern fg-buttonset fg-buttonset-single">
            <table width="100%" border="0">
                <tr>
                    <td align="right">
                        <label for="type" id="typelabel" data-i18n="viewer-measure-type"></label>:
                        <select style="width: 130px;" id="type" onchange="Typechange();">
                            <option value="length" data-i18n="viewer-measure-length"></option>
                            <option value="length-meters" data-i18n="viewer-measure-length-meters"></option>
                            <option value="area" data-i18n="viewer-measure-area"></option>
                            <option value="area-meters" data-i18n="viewer-measure-area-meters"></option>
                        </select>
                    </td>

                </tr>
            </table>
        </div>
    </div>
</div>
