<div id="bookmarkFormDiv" style="visibility: hidden">

    <form class="cmxform" id="villageForm" action="" onsubmit="return false;">

        <div  class="topmenu">
            <a id="bookmark_btnNew" class="btn02" onclick="javascript:createEditVillage();"><span class="NewBTN" data-i18n="gen-new"></span></a>
            <a id="bookmark_btnSave" class="btn02" onclick="javascript:saveVillage();"><span class="saveBTN" data-i18n="gen-save"></span></a>
            <a id="bookmark_btnBack" class="btn02" onclick="javascript:displayRefreshedVillage();"><span class="BackBTN" data-i18n="gen-back"></span></a>
        </div>

        <table id="bookmarkTable" class="tablesorter" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <td colspan="9" class="project_cellpadtwo">
                        <table width="100%" cellpadding="0" cellspacing="0" class="project_table_adjust">
                            <tr>
                                <td class="project_cell_adjust styleForm">
                                    <input id="village_txtSearch"  name="village_txtSearch" value="" maxlength="30" size="30" type="text" />
                                    <button onclick="javascript:search('0');" data-i18n="gen-search"></button>
                                    <button value="Submit" onclick="displayRefreshedVillage();" data-i18n="gen-clear"></button>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <th data-i18n="reg-name">             
                    </th>
                    <th data-i18n="gen-name-fr">
                    </th>
                    <th data-i18n="reg-province">
                    </th >
                    <th data-i18n="reg-commune">
                    </th >
                    <th data-i18n="reg-cfv-agent">
                    </th> 

                    <th class="blanCell">&nbsp;</th>
                    <th class="blanCell">&nbsp;</th>	
                </tr>
            </thead>
            <tbody id="BookmarksRowData">

            </tbody>
            <tfoot>
                <tr id="bookmark_pagerDiv" class="tblFooter">
                    <td colspan="9">
                        <div id="spatialunitDiv">
                            <a href="javascript:previousRecords();">
                                <img class="img-prev" src="resources/images/studio/previous.png" data-i18n="[title]gen-previous" /></a> 
                            <input type="text" readonly="readonly"
                                   name="records_from" id="records_from" value=""
                                   class="input-medium"> <span data-i18n="gen-to"></span> 
                            <input type="text"
                                   name="records_to" id="records_to" value=""
                                   class="input-medium" readonly="readonly"> <span data-i18n="gen-of"></span> 
                            <input type="text" name="records_all" id="records_all" value=""
                                class="input-medium" readonly="readonly">
                            <a href="javascript:nextRecords();">
                                <img class="img-next" src="resources/images/studio/next.png" data-i18n="[title]gen-next" /></a>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>

        <div id="bookmark_accordion">
            <h3><a href="#" data-i18n="gen-general"></a></h3>
            <div style="height:250px">   

                <table id="bookmarkDetails" >
                    <tbody id="bookmarkDetailsBody">

                    </tbody>
                </table>
            </div>
        </div>

        <script id="BookmarkTemplate" type="text/x-jquery-tmpl">
            <tr>
            <td>
            ${nameEn}
            </td>           
            <td>
            ${name}
            </td>

            <td>
            ${provinceName}
            </td>   

            <td>
            ${communeName}
            </td>           
            <td>
            ${cfvAgent}
            </td> 

            <td align="center">
            <a href="javascript:createEditVillage('${id}');"><img src="resources/images/studio/edit.png" data-i18n="[title]gen-edit" /></a>
            </td>
            <td align="center">
            <a href="javascript:deleteVillage('${id}');"><img src="resources/images/studio/delete.png" data-i18n="[title]gen-delete" /></a>
            </td>  	

            </tr>
        </script>
        <script id="BookmarkTemplateForm" type="text/x-jquery-tmpl">
            <tr>
            <td class="labelHeader" data-i18n="gen-name"></td>
            <td>
            <input type="hidden" name="hid_villageid" id="hid_villageid" value="${id}" />
            <input type="textbox" name="nameEn" id="nameEn" value="${nameEn}"  maxlength="20" />        
            </td>    
            <td class="labelHeader" data-i18n="gen-name-fr"></td>
            <td>
            <input type="textbox" name="nameFR" id="nameFR" value="${name}" maxlength="20" />
            </td>
            </tr>
            <tr>
            <td class="labelHeader" data-i18n="reg-cfv-agent"></td>
            <td>
            <input type="textbox" name="cfV_agent" id="cfV_agent" value="${cfvAgent}"  maxlength="50"/>
            </td>

            <td class="labelHeader" data-i18n="reg-village-code"></td>
            <td>
            <input type="textbox" name="VillageCode" id="VillageCode" value="${code}" maxlength="20"/>
            </td>
            </tr>

            <tr>
            <td class="labelHeader" data-i18n="reg-province"></td>
            <td>

            <select name="province_id" id="province_id" onchange="getcommuneval(this);">
            <option  value="" data-i18n="gen-please-select"></option>						       
            </select>
            </td>

            <td class="labelHeader" data-i18n="reg-commune"></td>
            <td>
            <select name="commmune_id" id="commmune_id">
            <option  value="" data-i18n="gen-please-select"></option>						       
            </select>
            </td>
            </tr>

        </script>
    </form>	
</div>

<script type="text/javascript">
    function getcommuneval(sel) {
        getCommunes(sel.value);
    }
</script>